<%- include('partials/header'); -%>
<% if (results) { %>
    <h3 class="check-address-success">Your email has been successfully verified. You can turn back on the Dashboard</h3>
<% } else { %>
    <h3 class="check-address-error">A problem occurred, please contact me via this address : contact@trackmyassets.info or via <a class="link-apps" target="_blank" href="https://discord.gg/yD5pMMC49c">Discord</a></h3>
<% } %>