<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" href="/img/favicon.png">
  <link rel="stylesheet" type="text/css" href="./../static/css/bootstrap.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.1/css/all.css" integrity="sha384-/frq1SRXYH/bSyou/HUp/hib7RVN1TawQYja658FEOodR/FQBKVqT9Ol+Oz3Olq5" crossorigin="anonymous">
  <link rel="stylesheet" href="/styles.css">

</head>

<body>

  <div class="container">
    <h2>Track My Assets</h2>
    <br>
    <p>Site under maintenance. Please, come back later.</p>
    <br>
    <p>If you need to contact me : contact@trackmyassets.info. You can also text me on <a class="link-apps" target="_blank" href="https://discord.gg/yD5pMMC49c">Discord</a> or <a class="link-apps" target="_blank" href="https://twitter.com/Track_My_Assets">Twitter</a></p>
    <br>
    <p>Thank you <i class="fa-solid fa-heart"></i></p>
</div>
</body>

</html>